/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

/*code {
  font-size: 80%;
}*/

/* my own customizations */
/* hide shaarli links titles as they're internal links, what I don't really want except on tag pages) */
.shaarli h1 {
  display:none;
  visibility: hidden;
}

.goodreads a.source:before {
	content: url("../img/goodreads.png");
	margin-right: 0.5em;
}

.wordpress a.source:before {
	content: url("../img/wordpress.png");
	margin-right: 0.5em;
}

.shaarli a.source:before {
	content: url("../img/shaarli.png");
	margin-right: 0.5em;
	vertical-align:middle;
}

.content {
	text-align: justify;
}

/* Ensure linked tags never have any kind of underline, because it is so ugly */
a.linked_tag:hover {
  text-decoration: none;
}

.linked_tag {
	cursor: pointer;
}

.linked_tag .go_to_tag {
	visibility: hidden;
	display:none;
}

.linked_tag:hover .go_to_tag {
	visibility: visible;
	display:inline;
}

img.special-image {
	margin: 10px;
}

/*------------------------------------------------*/
/*---------------- tag customization -------------*/
/*------------------------------------------------*/


.linked_tag__note_1 span:before {
  content: "⭐ ";
}
.linked_tag__note_2 span:before {
  content: "⭐⭐ ";
}
.linked_tag__note_3 span:before {
  content: "⭐⭐⭐ ";
}
.linked_tag__note_4 span:before {
  content: "⭐⭐⭐⭐ ";
}
.linked_tag__note_5 span:before {
  content: "⭐⭐⭐⭐⭐ ";
}
.linked_tag__année span:before {
  content: "📅 ";
}
.linked_tag__mois span:before {
  content: "📅 ";
}
.linked_tag_amour span:before {
  content: "❤️ ";
}
.linked_tag_bateaux span:before {
  content: "⛵ ";
}
.linked_tag_space-opera span:before {
  content: "🚀  ";
}
.linked_tag_planet-opera span:before {
  content: "🪐";
}
.linked_tag_montagne span:before {
  content: "⛰️ ";
}
.linked_tag_mort span:before {
  content: "💀 ";
}
.linked_tag_vampires span:before {
  content: "🧛 ";
}
.linked_tag_author span:before {
  content: "✍️ ";
}
.linked_tag_japon span:before {
  content: "🇯🇵 ";
}
.linked_tag_magie span:before {
  content: "🪄 ";
}
.linked_tag_hiver span:before {
  content: "❄️ ";
}
.linked_tag_extra_terrestres span:before {
  content: "🛸 ";
}
.linked_tag_famille span:before {
  content: "👨‍👩‍👧‍👦 ";
}
.linked_tag_monstres span:before {
  content: "🐉 ";
}
.linked_tag_far_future span:before {
  content: "🔮 ";
}
.linked_tag_handicap span:before {
  content: "♿ ";
}
.linked_tag_hard_science span:before {
  content: "🔭 ";
}
.linked_tag_musique span:before {
  content: "🎶 ";
}
.linked_tag_near_space span:before {
  content: "🛰️ ";
}
.linked_tag_pollution span:before {
  content: "🏭 ";
}
.linked_tag_robots span:before {
  content: "🤖 ";
}
.linked_tag_rock_n_roll span:before {
  content: "🤘 ";
}
.linked_tag_science span:before {
  content: "⚗️ ";
}
.linked_tag_sommeil span:before {
  content: "😴  ";
}
.linked_tag_sorci_res span:before {
  content: "🧙‍♀️ ";
}
.linked_tag_space_opera span:before {
  content: "🚀 ";
}
.linked_tag_temps span:before {
  content: "⌚ ";
}
.linked_tag_the_tre span:before {
  content: "🎭 ";
}
.linked_tag_train span:before {
  content: "🚆 ";
}
.linked_tag_lune span:before {
  content: "🌙 ";
}
.linked_tag_trou_noir span:before {
  content: "🕳️ ";
}
.linked_tag_zombie span:before {
  content: "🧟 ";
}


/*------------------------------------------------*/
/*-------------- tweet customization -------------*/
/*------------------------------------------------*/

.wp-block-embed-twitter {
  background-color: white;
  border-color: gray;
  border-radius: 5px;
  position: static; 
  visibility: visible; 
  display: block; 
  transform: rotate(0deg); 
  max-width: 100%; 
  width: 550px; 
  min-width: 220px; 
  margin: 10px; 
  padding: 20px;
  font: normal normal 16px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
}

.wp-block-embed-twitter .author {
  margin-bottom: 10px;
}
.wp-block-embed-twitter .author img {
  width: 48px;
  border-radius: 24px;
  margin-right: 10px;
  float: left;
}

.wp-block-embed-twitter .author .name {
  color: #1da1f2;
  font-weight: bold;
  display: block;
}

.wp-block-embed-twitter .twitter_status {
  display: flex;
  flex-direction: column;
}
.wp-block-embed-twitter .twitter_status .date{
  /* According to flexbox spec, it is enough to pull the date at the end */
  order: 1;
  text-align: right;
}
